In [170]:
import json
from openpyxl import Workbook
from openpyxl.styles import Font
from openpyxl.styles import Alignment

In [171]:
# Data Columns
data_columns = ['candle_acc_trade_price','candle_acc_trade_volume','candle_date_time_kst','candle_date_time_utc',
                'high_price','low_price','market','opening_price','timestamp','trade_price','unit']

# Data Columns 넣을 Excel Columns 지정
excel_columns = ['B','C','D','E','F','G','E','F','G','H','I','J','K','L']

def LoadDataToExelSheets_V2(_jsonFormatStringDataFileName):
  # Row Count, Data Start Index = 2 
  exel_row_count = 2

  # Create Workbook
  wb = Workbook()
  ws = wb.active
  ws.title = 'ETC_DataSet'

  bold_font = Font(bold= True)
  
  # Resize column width for comfort view
  ws.column_dimensions['A'].width = 5
  
  """
  미완
  """
  None

In [172]:
def LoadDataToExelSheets(_jsonFormatStringDataFileName):
  # Row Count, Data Start Index = 2 
  exel_row_count = 2

  # Create Workbook
  wb = Workbook()
  ws = wb.active
  ws.title = 'ETC_DataSet'

  
  bold_font = Font(bold= True)
  
  # Resize column width for comfort view
  ws.column_dimensions['A'].width = 5
  
  for i in ['B','C','D','E']:
    ws.column_dimensions[i].width = 25
    ws[i+str(1)].alignment = Alignment(horizontal='center')
    ws[i+str(1)].font = bold_font

  for i in ['F','G','H','I','J','K','L']:
    ws.column_dimensions[i].width = 10
    ws[i+str(1)].alignment = Alignment(horizontal='center')
    ws[i+str(1)].font = bold_font

  # Features
  ws['A1'] = "ID"
  ws['B1'] = "candle_acc_trade_price"
  ws['C1'] = "candle_acc_trade_volume"
  ws['D1'] = "candle_date_time_kst"
  ws['E1'] = "candle_date_time_utc"
  ws['F1'] = 'high_price'
  ws['G1'] = 'low_price'
  ws['H1'] = 'market'
  ws['I1'] = 'opening_price'
  ws['J1'] = 'timestamp'
  ws['K1'] = 'trade_price'
  ws['L1'] = 'unit'

  # Read json format string file 
  f = open(_jsonFormatStringDataFileName, "r")
  
  while(True):
    # Read line by line
    line = f.readline()

    # exit loop when EOF
    if not line: break
    data = line.rstrip().split(" ")

    index = data[0]
    json_data = json.loads(data[1])
    
    # Alignment setting
    for i in ['B','C','D','E','F','G','H','I','J','K','L']:    
      ws[i+str(exel_row_count)].alignment = Alignment(horizontal='center')

    ws['A'+str(exel_row_count)] = index
    ws['B'+str(exel_row_count)] = json_data[0]['candle_acc_trade_price']
    ws['C'+str(exel_row_count)] = json_data[0]['candle_acc_trade_volume']
    ws['D'+str(exel_row_count)] = json_data[0]['candle_date_time_kst']
    ws['E'+str(exel_row_count)] = json_data[0]['candle_date_time_utc']
    ws['F'+str(exel_row_count)] = json_data[0]['high_price']
    ws['G'+str(exel_row_count)] = json_data[0]['low_price']
    ws['H'+str(exel_row_count)] = json_data[0]['market']
    ws['I'+str(exel_row_count)] = json_data[0]['opening_price']
    ws['J'+str(exel_row_count)] = json_data[0]['timestamp']
    ws['K'+str(exel_row_count)] = json_data[0]['trade_price']
    ws['L'+str(exel_row_count)] = json_data[0]['unit']

    # Increment row count for next Data
    exel_row_count = exel_row_count + 1

  # Save Workbook file and close
  wb.save('ETC_DataSet.xlsx')
  xlsx = pd.read_excel("./ETC_DataSet.xlsx")
  xlsx.to_csv("./ETC_DataSet.csv")
  wb.close()

In [173]:
LoadDataToExelSheets('dataset_copied.txt')

In [174]:
import pandas as pd

In [175]:
df = pd.read_csv("./ETC_DataSet.csv", index_col = 0)

In [176]:
df.head(20)

,ID,candle_acc_trade_price,candle_acc_trade_volume,candle_date_time_kst,candle_date_time_utc,high_price,low_price,market,opening_price,timestamp,trade_price,unit
0,[0],1.001580e+05,5.265929,2022-06-20T01:45:00,2022-06-19T16:45:00,19020,19020,KRW-ETC,19020,1655657113080,19020,1
1,[1],7.650000e+05,40.094340,2022-06-20T01:46:00,2022-06-19T16:46:00,19080,19080,KRW-ETC,19080,1655657178926,19080,1
2,[2],1.591273e+06,83.467449,2022-06-20T01:46:00,2022-06-19T16:46:00,19080,19050,KRW-ETC,19080,1655657213935,19050,1
3,[3],1.944143e+07,1027.586569,2022-06-20T01:48:00,2022-06-19T16:48:00,18940,18890,KRW-ETC,18930,1655657300677,18890,1
4,[4],1.038314e+07,549.707821,2022-06-20T01:49:00,2022-06-19T16:49:00,18890,18880,KRW-ETC,18890,1655657359803,18880,1
5,[5],8.008174e+05,42.390900,2022-06-20T01:50:00,2022-06-19T16:50:00,18900,18890,KRW-ETC,18900,1655657405121,18890,1
6,[6],3.165562e+06,167.363302,2022-06-20T01:50:00,2022-06-19T16:50:00,18930,18890,KRW-ETC,18900,1655657439160,18930,1
7,[7],2.610491e+05,13.761152,2022-06-20T01:52:00,2022-06-19T16:52:00,18970,18970,KRW-ETC,18970,1655657528807,18970,1
8,[8],1.000000e+04,0.525762,2022-06-20T01:53:00,2022-06-19T16:53:00,19020,19020,KRW-ETC,19020,1655657580340,19020,1
9,[9],5.002673e+06,263.576027,2022-06-20T01:54:00,2022-06-19T16:54:00,18980,18980,KRW-ETC,18980,1655657655878,18980,1
10,[10],7.027059e+05,37.023783,2022-06-20T01:55:00,2022-06-19T16:55:00,18980,18970,KRW-ETC,18980,1655657716732,18970,1
11,[11],1.447868e+07,763.030958,2022-06-20T01:56:00,2022-06-19T16:56:00,18980,18970,KRW-ETC,18980,1655657772436,18970,1
12,[12],4.507579e+06,237.490849,2022-06-20T01:57:00,2022-06-19T16:57:00,18990,18980,KRW-ETC,18980,1655657825556,18990,1
13,[13],2.015941e+06,106.269973,2022-06-20T01:58:00,2022-06-19T16:58:00,18970,18970,KRW-ETC,18970,1655657885325,18970,1
14,[14],1.110515e+05,5.841740,2022-06-20T01:59:00,2022-06-19T16:59:00,19010,19010,KRW-ETC,19010,1655657955293,19010,1
15,[15],2.396986e+06,125.948825,2022-06-20T02:00:00,2022-06-19T17:00:00,19040,18990,KRW-ETC,19020,1655658021474,19040,1
16,[16],6.289310e+06,329.647870,2022-06-20T02:01:00,2022-06-19T17:01:00,19080,19070,KRW-ETC,19070,1655658081150,19080,1
17,[17],1.502418e+07,787.170314,2022-06-20T02:02:00,2022-06-19T17:02:00,19090,19060,KRW-ETC,19080,1655658139991,19090,1
18,[18],9.429468e+06,493.644917,2022-06-20T02:03:00,2022-06-19T17:03:00,19110,19080,KRW-ETC,19110,1655658194424,19090,1
19,[19],1.403728e+07,735.142911,2022-06-20T02:03:00,2022-06-19T17:03:00,19110,19060,KRW-ETC,19110,1655658233078,19090,1